@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
#button1register{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    width: 512px;
    font-size: 20px ;
    border-radius: 30px;
    background-color: #8ed2c0;
    border-color: #8ed2c0;
    border-width: 3px;
    color: #ffffff;
    margin-bottom: 15px;
   
}
#button2login{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    width: 512px;
    font-size: 20px ;
    border-radius: 30px;
    background-color: #ffffff;
    border-color: #8ed2c0;
    border-width: 3px;
    color: #8ed2c0;

}
#button3pay{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    width: 512px;
    font-size: 20px ;
    border-radius: 30px;
    background-color: #8ed2c0;
    border-color: #8ed2c0;
    border-width: 3px;
    color: #ffffff;
    margin-bottom: 15px;
   
}

#button4history{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    width: 512px;
    font-size: 20px ;
    border-radius: 30px;
    background-color: #ffffff;
    border-color: #8ed2c0;
    border-width: 3px;
    color: #8ed2c0;
    
   
}

#button2login:hover{
    background-color: #d1f3ea;
    border-color: #d1f3ea;
    color: #666666; 
    box-shadow: none;
}
#button1register:hover{
    background-color: #457165;
    border-color: #457165;
    color: #ffffff; 
    box-shadow: none;
}
#slogan{
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #666666;
    /* margin-top: -740px; */
    margin-top: 240px;
    position: absolute;
    margin-left: 145px;
    z-index: auto;
}
.buttonslogin{
    margin-top: -395px;
    
    position: absolute;
    z-index: 15;
    margin-left: 137px;

}
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {
    #button1register{
        width: 360px;
    }
    #button2login{
        width: 360px;
    }
    #button3pay  {
        width: 360px;
        margin-top: 55px;
        
    }
    #slogan{
        font-size: 25px;
       justify-content: center;
       text-align: start;
       display: flex;
       margin-top: 140px;
       margin-left: 3.5%;

    }
    .buttonslogin{

            display: flex;
           margin: auto;
           z-index: 1;
           position: absolute;
           margin-top: -250px;
          
    }

}