@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
#site-content {
}
.back {
  width: 100%;
  height: 100vh;
  background-image: url("../img/back5.png");
  background-position: top;
  background-size: cover;
}

#kontakti {
  float: right;
  margin-right: 150px;
  margin-top: -310px;
}
.contact-clean {
  padding-top: 350px !important;
  margin-left: -100% !important;
  padding: 80px 0;
}

@media (max-width: 767px) {
  .contact-clean {
    padding: 20px 0;
  }
}

.contact-clean form {
  max-width: 480px;
  font-size: 15px !important;

  width: 90%;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 4px;
  color: #505e6c;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 767px) {
  .contact-clean form {
    padding: 30px;
  }
}

.contact-clean h2 {
  margin-top: 5px;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 36px;
  color: inherit;
}

.contact-clean .form-group:last-child {
  margin-bottom: 5px;
}

.contact-clean form .form-control {
  background: #fff;
  font-size: 15px !important;

  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
  outline: none;
  color: inherit;
  padding-left: 12px;
  height: 42px;
}

.contact-clean form .form-control:focus {
  border: 1px solid #b2b2b2;
}

.contact-clean form textarea.form-control {
  min-height: 100px;
  max-height: 260px;
  padding-top: 10px;
  resize: vertical;
}

.contact-clean form .btn {
  padding: 16px 32px;
  border: none;
  background: none;
  box-shadow: none;
  text-shadow: none;
  opacity: 0.9;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.4px;
  line-height: 1;
  outline: none !important;
}

.contact-clean form .btn:hover {
  opacity: 1;
}

.contact-clean form .btn:active {
  transform: translateY(1px);
}

.contact-clean form .btn-primary {
  background-color: #055ada !important;
  margin-top: 15px;
  color: #fff;
}

@media only screen and (min-device-width: 375px)  and (-webkit-device-pixel-ratio: 3) {
  #kontakti {
    width: 350px;
    margin: auto;
    margin-top: -580px;
  }
  .container {
    width: 350px;
  }
  .contact-clean {
    width: 310px !important;
  }
  .contact-clean form {
    margin-left: 342px !important;
    width: 350px !important;
    margin: auto;
    display: block;
    margin-top: 20px !important;
  }
  .contact-clean form .form-control {
    width: 290px !important;
  }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .back{
      height: 120vh;
    }
    #kontakti {
      width: 310px;
      margin: auto;
      margin-top: -510px;
    }
    .container {
      width: 290 !important;
    }
    .contact-clean {
      width: 290 !important;
    }
    .contact-clean form {
      margin-left: 260px !important;
      width: 320px !important;
      font-size: 12px !important;
      display: block;
      margin-top: -50px !important;
    }
    .contact-clean form .form-control {
      width: 290px !important;
      font-size: 12px !important;
    }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .back{
      height: 120vh;
    }
    #kontakti {
      width: 350px;
      margin: auto;
      margin-top: -580px;
    }
    .container {
      width: 350px;
    }
    .contact-clean {
      width: 310px !important;
    }
    .contact-clean form {
      margin-left: 342px !important;
      width: 350px !important;
      margin: auto;
      display: block;
      margin-top: 20px !important;
    }
    .contact-clean form .form-control {
      width: 290px !important;
    }
}
/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .back{
      height: 120vh;
    }
    #kontakti {
      width: 350px;
      margin: auto;
      margin-top: -580px;
    }
    .container {
      width: 350px;
    }
    .contact-clean {
      width: 310px !important;
    }
    .contact-clean form {
      margin-left: 410px !important;
      width: 350px !important;
      display: block;
      margin-top: 20px !important;
    }
    .contact-clean form .form-control {
      width: 290px !important;
    }
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .back{
      height: 120vh;
    }
    #kontakti {
      width: 350px;
      margin: auto;
      margin-top: -580px;
      margin-right: 200px !important;
    }
    .container {
      width: 600px ;
    }
    .contact-clean {
      width:600px !important;
    }
    .contact-clean form {
      margin-left: 810px !important;
      width: 600px !important;
      font-size: 15px !important;
      display: block;
      margin-top: 60px !important;
    }
    .contact-clean form .form-control {
      width:400px !important;
      font-size: 20px !important;
    }
}