/*eslint-disable*/
.backgroundi {
  width: 100%;
  height: 100vh;
  background-image: url("../img/Backgroundi2.jpg");
  background-position: center;
  background-size: cover;
}
.radiobtn {
  display: flex;
  width: auto;
  font-family: "Montserrat", sans-serif;
}
#forma1 {
  z-index: 1;
  position: absolute;
  margin-top: 350px;
  margin-left: 146px;
}
#parkingslog {
  font-size: 45px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #666666;
  /* margin-top: -740px; */
  margin-top: -180px;
  margin-left: -100px;
  position: absolute;

  z-index: auto;
}
.form-control {
  border-radius: 30px;
  border-color: #6666;
  margin-bottom: 25px;
  height: 47px;
  border-width: 3px;
  width: 315px;
  font-weight: bold;
  font-family: Montserrat, sans-serif;
  color: #666666;
  font-size: 15px;
}
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  /*border-radius: 30px;*/
  /*border-color: #252525;*/
  /*border-width: 1px;*/
  /*background-image: url("https://img.icons8.com/cotton/2x/plus--v3.png");*/
  /*background-size: 30px 30px;*/
  /*width: 100px;*/
  /*background-repeat: no-repeat;*/
  /*background-position: 5px center;*/
  /*text-align: right;*/
  /*height: 40px;*/
}

#formCheck-1 {
  /*width: 15px;*/
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) {
  .backgroundi {
    width: 100%;
    height: 100vh;
    background-image: url("../img/logomobilepay.png");
    background-position: center top;
    background-size: cover;
  }
  #forma1 {
    width: 200px !important;
    margin: auto !important;
    margin-top: 120% !important;
    display: flex;
    justify-content: center;
  }
  #parkingslog {
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #666666;
    /* margin-top: -740px; */
    width: 250px !important;
    position: absolute;
    margin-left: 45% !important;
    padding-top: 100px;

    z-index: auto;
  }

  #formapay {
    width: 200px !important;
    margin: auto !important;
    margin-left: 10% !important;
    margin-top: -0px !important;
  }

  .form-control {
    width: 350px !important;
  }
  .radiobtn {
    display: block;
    margin: auto;
    margin-left: 10%;
  }
  label {
    margin-left: 10%;
  }
  #paguajbtn {
    width: 170px !important;
  }
  #totalibtn {
    width: 170px !important;
  }
  .btnpay {
    display: inline-flex !important;
  }

  #shto {
    margin-right: -250px !important;
  }
}


/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .backgroundi {
      width: 100%;
      height: 130vh;
      background-image: url("../img/logomobilepay.png");
      background-position: center top;
      background-size: cover;
    }
    #forma1 {
      width: 100px !important;
      margin: auto !important;
      margin-top: 110% !important;
      display: flex;
      justify-content: center;
    }
    #parkingslog {
      font-size: 25px;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      color: #666666;
      /* margin-top: -740px; */
      width: 250px !important;
      position: absolute;
      margin-left: 100% !important;
      padding-top: 100px;
  
      z-index: auto;
    }
  
   #formapay {
      width: 100px !important;
      margin: auto !important;
      margin-left: 10% !important;
      margin-top: -40px !important;
    }
  
    .form-control {
      width: 310px !important;
    }
    .radiobtn {
      display: flex;
      margin: auto;
      margin-left: 10%;
    }
    label {
      margin-left: 10%;
    }
    #paguajbtn {
      width: 145px !important;
    }
    #totalibtn {
      width: 145px !important;
    }
    .btnpay {
      display: inline-flex !important;
      padding-bottom: 200px !important;
    }
  
  
}
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .backgroundi {
      width: 100%;
      height: 130vh;
      background-image: url("../img/logomobilepay.png");
      background-position: center top;
      background-size: cover;
    }
    #forma1 {
      width: 100px !important;
      margin: auto !important;
      margin-top: 113% !important;
      display: flex;
      justify-content: center;
    }
    #parkingslog {
      font-size: 25px;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      color: #666666;
      /* margin-top: -740px; */
      width: 250px !important;
      position: absolute;
      margin-left: 135% !important;
      padding-top: 110px;
  
      z-index: auto;
    }
  
    #formapay {
      width: 100px !important;
      margin: auto !important;
      margin-left: 10% !important;
      margin-top: -30px !important;
    }
  
    .form-control {
      width: 350px !important;
    }
    .radiobtn {
      display: flex;
      margin: auto;
      margin-left: 10%;
    }
    label {
      margin-left: 10%;
    }
    #paguajbtn {
      width: 170px !important;
    }
    #totalibtn {
      width: 170px !important;
    }
    .btnpay {
      display: inline-flex !important;
      padding-bottom: 200px !important;
    }
}
/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

    .backgroundi {
      width: 100%;
      height: 130vh;
      background-image: url("../img/logomobilepay.png");
      background-position: center top;
      background-size: cover;
    }
    #forma1 {
      width: 100px !important;
      margin: auto !important;
      margin-top: 113% !important;
      display: flex;
      justify-content: center;
    }
    #parkingslog {
      font-size: 25px;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      color: #666666;
      /* margin-top: -740px; */
      width: 250px !important;
      position: absolute;
      margin-left: 155% !important;
      padding-top: 110px;
  
      z-index: auto;
    }
  
    #formapay {
      width: 100px !important;
      margin: auto !important;
      margin-left: 10% !important;
      margin-top: -30px !important;
    }
  
    .form-control {
      width: 400px !important;
    }
    .radiobtn {
      display: flex;
      margin: auto;
      margin-left: 15%;
    }
    label {
      margin-left: 10%;
    }
    #paguajbtn {
      width:195px !important;
    }
    #totalibtn {
      width: 195px !important;
    }
    .btnpay {
      display: inline-flex !important;
      padding-bottom: 200px !important;
    }
}